* {
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: black;
    color: rgb(24, 125, 134)
}

header h1 {
    font-size: 200%;
}

nav a {
    color:rgb(24, 125, 134);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color:rgb(255, 230, 0);
}

header ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

main {
    text-align: center;
    background-color: rgba(0, 86, 112, 0.534);
}

main img {
    margin: 3% 0 3% 175px;
    border-radius: 100%;
}
/* change px to % of width and height later!!!! */
.box { 
    margin-right: 20px;
    padding-left: 20px;
    clear: both;
    float: left;
    width: 140px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}
    
#about_me_text {
    margin: 25px 10px 15px 0 ;
    text-align: left;
}

#about_me_hr {
    position: relative;
    float: right;
    margin-top: -65px;
    border: none;
    border-left: 2px solid red;
    height: 75px;
    width: 1px;
}

.my_work_text {
    margin: 100px 10px 0 0;
    float: left;
}

.my_work_hr {
    position: relative;
    float: right;
    margin-top: -65px;
    border: none;
    border-left: 2px solid red;
    height: 150px;
    width: 1px;
}

.contact_me_text {
    margin: 475px 10px -40px 0;
    float: left;
}

.contact_me_hr {
    position: relative;
    float: right;
    margin-top: -10px;
    border: none;
    border-left: 2px solid red;
    height: 50px;
    width: 1px;
}

aside {
    padding-bottom: auto;
    margin-bottom: 50px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 50px;
    text-align: center;
}

.s2 img {
    margin-top: 75px;
    height: 125%;
    width: 500px;
    display: inline-block;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}

.s2 img:hover {
    transform: scale(1.1);
    transition: .5s;
    border: solid 1px black;
}

.coming_soon {
    margin-left: 15px;
    display: inline;
    /* border: solid 5px black; */
}

.coming_soon img {
    height: 100%;
    width: 400px;
}

.buttons {
    /* border-width: 10px; */
    border: solid 1px black;
    background-color: salmon;
    border-radius: 10%;
    padding: 20px;
}

.buttons:hover {
    transform: scale(1.1);
    transition: .5s;
}

section ul {
    margin: 350px auto 10px auto;
    text-align: center;
}

section li {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}

footer{
    text-align:center;
    background-color: darkgoldenrod;
    margin: 15px 0 15px 0;
    padding: 15px 0 15px 0;
    text-decoration: underline solid 3px purple;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
    main {
      max-width: 1200px;
    }
  }