/* root selector */
:root {
    min-width: 1080px;
}

/* universal selector */
* {
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}

/* gives the header style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: salmon;
    color: rgb(24, 125, 134)
}

/* changes size of my name */
header h1 {
    font-size: 200%;
}

/* gives style to the nav bar links */
nav a {
    color: rgb(107, 243, 255);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color:rgb(255, 230, 0);
}

header ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

/* background behind my picture */
main {
    text-align: center;
    background-color: rgba(0, 86, 112, 0.534);
}
/* style for picture of myself */
main img {
    margin: 1.5% 0 1.5% 0px;
    border-radius: 100%;
    text-align: center;
}

/* style for aside */
aside { 
    margin-right: 20px;
    padding-left: 20px;
    clear: both;
    float: left;
    width: 140px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}

/* changes style to the text that says about me */
#about_me_text {
    margin: 25px 10px 15px 0 ;
    text-align: left;
}

/* changes the hr for about me text */
#about_me_hr {
    position: relative;
    float: right;
    margin-top: -40px;
    border: none;
    border-left: 2px solid red;
    height: 50px;
    width: 1px;
}

/* changes the style for my work text */
#my_work_text {
    margin: 100px 10px 0 0;
    float: left;
}

/* affects the my work hr potenially altering other hrs */
#my_work_hr {
    position: relative;
    float: right;
    margin-top: -55px;
    border: none;
    border-left: 2px solid red;
    height: 150px;
    width: 1px;
}

/* affects the contact me text */
#contact_me_text {
    margin: 465px 10px -40px 0;
    float: left;
}

/* affects the contact me hr potentially changing other hrs */
#contact_me_hr {
    position: relative;
    float: right;
    margin-top: -8px;
    border: none;
    border-left: 2px solid red;
    height: 40px;
    width: 1px;
}

/* changes style of the paragraph */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 45px;
}

/* changes the style to my s2 images */
.s2 img {
    margin-top: 75px;
    height: 125%;
    width: 500px;
    display: inline-block;
    display: inline-block;
    margin-left: 10px;
}

/* changes the hover aspect of the images */
.s2 img:hover {
    transform: scale(1.1);
    transition: .5s;
    border: solid 1px black;
    cursor: pointer;
}

/* coming soon  images style */
.coming_soon {
    margin-top: 0;
    display: inline;
}

.coming_soon img {
    height: 100%;
    width: 400px;
    margin-left: 15px;
    margin-top: 0;
    display: inline; 
}

/* gives class of buttons so I could create buttons */
.buttons {
    border: solid 1px black;
    background-color: salmon;
    border-radius: 10%;
    padding: 20px;
}

/* gives buttons hover aspect */
.buttons:hover {
    transform: scale(1.1);
    transition: .5s;
}

/* gives center for images and text */
section {
    text-align: center;
}

/* styles the section ul */
section ul {
    margin: 350px auto 10px auto;
    text-align: center;
}

/* styles my section li */
section li {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}

/* styles my footer */
footer{
    text-align:center;
    background-color: darkgoldenrod;
    margin: 15px 0 0px 0;
    padding: 15px 0 15px 0;
    text-decoration: underline solid 3px purple;
}

/* gives the page responsive web design */
@media screen and (max-width: 1080px) {
    .s1 {
        display:flex;
        flex-wrap: wrap;
    }
    
    /* future reference, change 150px to something higher for
    taller hr line */
    #about_me_hr {
        padding: 0 0 150px 0;
    }

    #work_text {
        margin-top: 225px;
    }

    #my_work_hr {
        padding: 0 0 500px 0;
    }

    header {
        flex-direction: column;
    }

    .s2 img{
        margin: 175px 0 20px 0;
        max-width: 50%;
        height: auto;
    }

    section img {
        max-width: 25%;
        height: auto;
        margin: 0px;
    }

    aside {
        margin-bottom: 0;
    }
    
    main img {
        margin: 0;
        border-radius: 100%;
    }

    .coming_soon img {
        margin-top: 0;
    }

    #contact_me_text {
        margin-top: 555px;
    }

    section ul {
        text-align: center;
    }
}